.container{
  //background-color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5vmin;
}

.table-list{
  display: flex;
  //background-color: aliceblue;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  width: 35%;
  flex-wrap: wrap;
  height: auto;
}

.manage-tables{
  display: flex;
  gap: 2vmin;
}

.table-view{
  @extend .container
}

.details-view{
  display: flex;
  flex-direction: column;
  height: 100%;
}