.table-details{
  width: 100%;
  display: flex;
  align-items: center;
  align-self: start;
  margin-top: 2vmin;
  justify-content: center;
}

.dashboard{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 10vmin;
  margin-top: 2vmin;
  align-items: center;

}

.return{
  justify-self: start;
  margin-left: 2vmin;
  padding: 2vmin;
}

.table-name{
  font-family: "Roboto", sans-serif;
  font-size: 4vmin;
}

.tools{
  display: flex;
  justify-self: end;
  margin-right: 2vmin;
  gap: 2vmin;

}

.tool-button{
  padding: 2vmin;
}

.table-page{
  width:100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

.action-bar{
  height: 10vmin;
  margin-bottom: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-button-pick{
  @extend .tool-button;
  background-color: deeppink;
}

.input-cell{
  font-family: "Roboto", sans-serif;
  border-radius: 1vmin;
  display: flex;
  gap: 1vmin;
  text-align: center;
  justify-content: center;
  align-items: center;
  }

.add{
  display: flex;
  gap: 2vmin;
}

.edit{
  @extend .add;
}

.delete{
  display: flex;
  gap: 2vmin;
}