.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5vw;
  text-align: center;
  border-radius: 2vmin;
  box-shadow: rgba(94,45,54,0.91) 10px 10px 10px;
  background-color: pink;
  margin: 2vmin;
}